@font-face {
  font-family: SF Pro Display BOLD;
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: SF Pro Display Regular;
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SF Pro Display Medium;
  src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display Regular;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
* ul, * li, * ol {
  list-style-type: none;
}
* a {
  text-decoration: none;
}

body {
  background-color: #000000;
}
body .wrapper .container {
  max-width: 1140px;
  margin: 0 auto;
}
body .wrapper .container header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px 0 50px 0;
  gap: 105px;
}
body .wrapper .container header .header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  font-weight: 300;
}
body .wrapper .container header .header__nav ul li a {
  font-size: 15px;
}
body .wrapper .container header .header__btn {
  padding: 10px 35px;
  border-radius: 15px;
  background-color: #3F93ED;
}
body .wrapper .container .hero__container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
body .wrapper .container .hero__container .text__side h1 {
  font-size: 63px;
}
body .wrapper .container .hero__container .text__side h1 span {
  font-size: 63px;
  color: #2886EB;
}
body .wrapper .container .hero__container .text__side p {
  font-size: 20px;
  color: #767676;
  max-width: 70%;
}
body .wrapper .container .slider__block {
  margin-top: 150px;
}
body .wrapper .container .slider__block .slider__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .wrapper .container .slider__block .slider__body .left__arrow {
  position: relative;
  right: 20px;
  cursor: pointer;
}
body .wrapper .container .slider__block .slider__body .right__arrow {
  position: relative;
  left: 20px;
  cursor: pointer;
}
body .wrapper .container .slider__block .slider__body .slider {
  margin: 0 auto;
  min-width: 100%;
  height: 425px;
  border-radius: 40px;
  background-color: #151515;
  padding: 40px;
}
body .wrapper .container .slider__block .slider__body .slider .slide {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
body .wrapper .container .slider__block .slider__body .slider .slide .text__side {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
body .wrapper .container .slider__block .slider__body .slider .slide .text__side h1 {
  font-size: 44px;
  line-height: 120%;
  font-weight: 300;
}
body .wrapper .container .slider__block .slider__body .slider .slide .text__side p {
  font-size: 22px;
  line-height: 120%;
  font-weight: 300;
  color: #767676;
  max-width: 80%;
}
body .wrapper .container .slider__block .slider__body .slider .slide .text__side a {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #3F93ED;
  font-weight: 300;
  max-width: 35%;
  text-align: center;
}
body .wrapper .container .slider__block .number__page {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 13px;
}
body .wrapper .container .slider__block .number__page .current__slide {
  width: 30px;
  height: 9px;
  background-color: #2886EB;
  border-radius: 8px;
  cursor: pointer;
}
body .wrapper .container .slider__block .number__page .uncurrent__slide {
  height: 9px;
  width: 9px;
  border-radius: 100%;
  background-color: #333333;
  cursor: pointer;
}
body .wrapper .container .about__us {
  margin-top: 100px;
}
body .wrapper .container .about__us h1 {
  font-size: 32px;
  font-weight: 500;
}
body .wrapper .container .about__us .grid__row {
  margin: 50px 0 0 0;
  display: grid;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
body .wrapper .container .about__us .grid__row .item {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  padding: 25px;
  background-color: #171616;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .wrapper .container .about__us .grid__row .item .ellipse {
  height: 25px;
  width: 25px;
  background-color: #2886EB;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
body .wrapper .container .about__us .grid__row .item .ellipse .number {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D0D0D;
  font-size: 15px;
}
body .wrapper .container .about__us .grid__row .item .title {
  font-size: 20px;
  font-weight: 400;
}
body .wrapper .container .about__us .grid__row .item p {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .about__us .us__history {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 276px;
  background-color: #171616;
  border-radius: 25px;
}
body .wrapper .container .about__us .us__history .text__side {
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .wrapper .container .about__us .us__history .text__side h2 {
  font-size: 16px;
  color: #767676;
  font-weight: 300;
  text-transform: uppercase;
}
body .wrapper .container .about__us .us__history .text__side h1 {
  font-size: 28px;
}
body .wrapper .container .about__us .us__history .text__side p {
  font-size: 16px;
  max-width: 80%;
}
body .wrapper .container .study {
  margin-top: 100px;
}
body .wrapper .container .study .study__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
body .wrapper .container .study .study__container h1 {
  font-size: 32px;
  font-weight: 300;
}
body .wrapper .container .study .study__container .study__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .wrapper .container .study .study__container .study__row .study__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .wrapper .container .study .study__container .study__row .study__item .number {
  color: #2886EB;
  font-size: 48px;
}
body .wrapper .container .study .study__container .study__row .study__item .after {
  color: #333333;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 90%;
}
body .wrapper .container .study .study__container .study__row .study__item .after::after {
  content: "";
  display: block;
  height: 3px;
  background: rgb(255, 255, 255);
}
body .wrapper .container .study .study__container .study__row .study__item .h1 {
  font-size: 28px;
  max-width: 100%;
}
body .wrapper .container .study .study__container .study__row .study__item p {
  color: #767676;
  max-width: 70%;
}
body .wrapper .container .study .study__container .study__row .third__study__item h1 {
  max-width: 80%;
}
body .wrapper .container .courses {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .wrapper .container .courses .sign__up {
  width: 570px;
  height: 275px;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #2886EB;
}
body .wrapper .container .courses .sign__up h1 {
  color: black;
  font-size: 32px;
  font-family: SF Pro Display BOLD;
}
body .wrapper .container .courses .sign__up h2 {
  font-size: 21px;
  font-weight: 500;
}
body .wrapper .container .courses .sign__up .credit__btn {
  padding: 10px 32px 10px 32px;
  border-radius: 12px;
  background-color: #0D0D0D;
  width: 45%;
  text-align: center;
}
body .wrapper .container .courses .sign__up .credit__btn a {
  font-size: 16px;
  font-weight: 400;
}
body .wrapper .container .courses .sign__up .star__svg img {
  position: relative;
  top: -248px;
  left: -30px;
}
body .wrapper .container .courses .credit {
  width: 570px;
  height: 214px;
  border-radius: 0 25px 25px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #171616;
}
body .wrapper .container .courses .credit h1 {
  font-weight: 700;
  font-size: 32px;
}
body .wrapper .container .revievs {
  margin: 200px 0 0px 0;
}
body .wrapper .container .revievs h1 {
  font-size: 32px;
}
body .wrapper .container .revievs .grid__container {
  max-height: 1200px;
  margin-top: 100px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
body .wrapper .container .revievs .grid__container .w-507 {
  padding: 15px;
  border-radius: 15px;
  height: 507px;
  width: 274px;
  background-color: #171616;
}
body .wrapper .container .revievs .grid__container .w-507 .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
body .wrapper .container .revievs .grid__container .w-507 .bio .info__side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .wrapper .container .revievs .grid__container .w-507 .bio .info__side .name {
  font-size: 18px;
}
body .wrapper .container .revievs .grid__container .w-507 .bio .info__side .date {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .revievs .grid__container .w-507 .content {
  padding: 15px 0;
}
body .wrapper .container .revievs .grid__container .w-334 {
  padding: 15px;
  border-radius: 15px;
  height: 334px;
  width: 274px;
  background-color: #171616;
}
body .wrapper .container .revievs .grid__container .w-334 .div2 {
  grid-area: 1/2/2/3;
}
body .wrapper .container .revievs .grid__container .w-334 .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
body .wrapper .container .revievs .grid__container .w-334 .bio .info__side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .wrapper .container .revievs .grid__container .w-334 .bio .info__side .name {
  font-size: 18px;
}
body .wrapper .container .revievs .grid__container .w-334 .bio .info__side .date {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .revievs .grid__container .w-334 .content {
  padding: 10px 0;
}
body .wrapper .container .revievs .grid__container .w-334 .content p {
  font-size: 17px;
}
body .wrapper .container .revievs .grid__container .w-532 {
  padding: 15px;
  border-radius: 15px;
  height: 532px;
  width: 274px;
  background-color: #171616;
}
body .wrapper .container .revievs .grid__container .w-532 .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
body .wrapper .container .revievs .grid__container .w-532 .bio .info__side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .wrapper .container .revievs .grid__container .w-532 .bio .info__side .name {
  font-size: 18px;
}
body .wrapper .container .revievs .grid__container .w-532 .bio .info__side .date {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .revievs .grid__container .w-532 .content {
  padding: 20px 0px;
}
body .wrapper .container .revievs .grid__container .w-532 .content p {
  font-size: 17px;
}
body .wrapper .container .revievs .grid__container .w-422 {
  padding: 15px;
  border-radius: 15px;
  height: 422px;
  width: 274px;
  background-color: #171616;
}
body .wrapper .container .revievs .grid__container .w-422 .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
body .wrapper .container .revievs .grid__container .w-422 .bio .info__side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .wrapper .container .revievs .grid__container .w-422 .bio .info__side .name {
  font-size: 18px;
}
body .wrapper .container .revievs .grid__container .w-422 .bio .info__side .date {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .revievs .grid__container .w-422 .content {
  padding: 20px 0px;
}
body .wrapper .container .revievs .grid__container .w-422 .content p {
  font-size: 17px;
}
body .wrapper .container .revievs .grid__container .w-378 {
  padding: 15px;
  border-radius: 15px;
  height: 378px;
  width: 274px;
  background-color: #171616;
}
body .wrapper .container .revievs .grid__container .w-378 .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
body .wrapper .container .revievs .grid__container .w-378 .bio .info__side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .wrapper .container .revievs .grid__container .w-378 .bio .info__side .name {
  font-size: 18px;
}
body .wrapper .container .revievs .grid__container .w-378 .bio .info__side .date {
  font-size: 16px;
  color: #767676;
}
body .wrapper .container .revievs .grid__container .w-378 .content {
  padding: 20px 0px;
}
body .wrapper .container .revievs .grid__container .w-378 .content p {
  font-size: 17px;
}
body .wrapper .container .revievs .grid__container .kristin {
  margin-top: 15px;
}
body .wrapper .container .revievs .grid__container .esther {
  position: relative;
  top: -180px;
}
body .wrapper .container footer {
  margin: 50px 0;
}
body .wrapper .container footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
body .wrapper .container footer .footer__container .footer__logo {
  display: flex;
  flex-direction: column;
}
body .wrapper .container footer .footer__container .footer__logo img {
  width: 73px;
  height: 30px;
}
body .wrapper .container footer .footer__container .footer__logo p {
  font-weight: 700;
}
body .wrapper .container footer .footer__container .footer__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
body .wrapper .container footer .footer__container .footer__item h1 {
  font-size: 19px;
  font-weight: 700;
  color: #3F93ED;
}
body .wrapper .container footer .footer__container .footer__item p {
  font-size: 16px;
  font-family: SF Pro Display Regular;
  font-weight: 300;
}/*# sourceMappingURL=styles.css.map */