@font-face {
    font-family: SF Pro Display BOLD;
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: SF Pro Display Regular;
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: SF Pro Display Medium;
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Display Regular;
    color: #fff;
    font-size: 16px;
    ul,li,ol{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }

    }


body{
    background-color: #000000;
    .wrapper{
        .container{
            max-width: 1140px;
            margin: 0 auto;
            header{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                margin: 50px 0 50px 0;
                gap: 105px;
                .header__logo{

                }
                .header__nav{
                   ul{
                    display: flex;
                    flex-direction: row;
                    gap: 60px ;
                    justify-content: center;
                    font-weight: 300;
                    li{
                        a{
                            font-size: 15px;
                        }
                    }
                   }
                }
                .header__btn{
                    padding: 10px 35px;
                    border-radius: 15px;
                    background-color: #3F93ED;
                }
            }
            .hero__container{
                margin-top: 100px;
                display: flex;
                flex-direction: row;
                gap: 50px;
                justify-content: center;
                align-items: center;
                .text__side{
                    h1{
                        font-size: 63px;
                        span{
                            font-size: 63px;
                            color: #2886EB;
                        }
                    }
                    p{
                        font-size: 20px;
                        color: #767676;
                        max-width: 70%;
                    }
                }
            }
            .slider__block{
                margin-top: 150px;
                .slider__body{
                    width: 100%;
                    height: 425px;
                    border-radius: 40px;
                    background-color: #151515;
                    padding: 40px;
                    .slide{
                        display: flex;
                        flex-direction: row;
                        gap: 30px;
                        .text__side{
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                            h1{
                                font-size: 44px;
                                line-height: 120%;
                                font-weight: 300;
                            }
                            p{
                                font-size: 22px;
                                line-height: 120%;
                                font-weight: 300;
                                color: #767676;
                                max-width: 80%;
                            }
                            a{
                                padding: 8px 30px;
                                border-radius: 10px;
                                background-color: #3F93ED;
                                font-weight: 300;
                                max-width: 35%;
                                text-align: center;
                            }
                        }
                    }

                }
            }
            .about__us{
                margin-top: 100px;
                h1{
                    font-size: 32px;
                    font-weight: 500;
                }
                .grid__row{
                    margin: 50px 0 0 0;
                    display: grid;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(2,1fr);
                    gap: 20px;
                    .item{
                        width: 100%;
                        height: 260px;
                        border-radius: 20px;
                        padding: 25px;
                        background-color: #171616;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .number{
                            
                        }
                        .title{
                            font-size: 20px;
                            font-weight: 400;
                        }
                        p{
                            font-size: 16px;
                            color: #767676;
                        }
                    }
                }
                .us__history{
                    margin-top: 100px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 276px;
                    background-color: #171616;
                    border-radius: 25px;
                    .text__side{
                        padding: 45px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h2{
                            font-size: 16px;
                            color: #767676;
                            font-weight: 300;
                            text-transform: uppercase;
                        }
                        h1{
                            font-size: 28px;
                        }
                        p{
                            font-size: 16px;
                            max-width: 80%;
                        }
                    }   
                }
            }
            .study{
                margin-top: 100px;
                .study__container{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    h1{
                        font-size: 32px;
                        font-weight: 300;
                    }
                    .study__row{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        .study__item{
                            display: flex;
                            flex-direction: column;
                            gap: 30px;

                            .number{
                                color: #2886EB;
                                font-size: 48px;
                            }
                            .after{
                                color: #333333;
                                display: block;
                                text-align:center;
                                text-decoration: none;
                                width: 90%;
                                &::after{
                                    content: '';
                                    display: block;
                                    height: 3px;
                                    background: rgb(255, 255, 255);
                                    }
                                }
                                .h1{
                                    font-size: 28px;
                                    max-width: 100%;
                                }
                                p{
                                    color: #767676;
                                    max-width: 70%;
                                }
                            }
                            .third__study__item{
                                h1{
                                    max-width: 80%;
                                }
                            }
                        }
                    }
                }
                .courses{
                    margin-top: 100px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .sign__up{
                        width: 570px;
                        height: 275px;
                        border-radius: 40px;
                        padding: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 35px;
                        background-color: #2886EB;
                        h1{
                            color: black;
                            font-size: 32px;
                            font-family: SF Pro Display BOLD;
                        }
                        h2{
                            font-size: 21px;
                            font-weight: 500;
                        }
                        .credit__btn{
                            padding: 10px 32px 10px 32px;
                            border-radius: 12px;
                            background-color: #0D0D0D;
                            width: 45%;
                            text-align: center;
                            a{
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                        .star__svg{
                            img{
                                position: relative;
                                top: -248px;
                                left: -30px;
                            }
                        }
                    }
                    .credit{
                        width: 570px;
                        height: 214px;
                        border-radius: 0 25px 25px 0;
                        padding: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        background-color: #171616;
                        h1{
                            font-weight: 700;
                            font-size: 32px;
                        }
                    }
                }
                footer{
                    margin: 50px 0;

                    .footer__container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        gap: 30px;
                        .footer__logo{
                            display: flex;
                            flex-direction: column;
                            img{
                                width: 73px ;
                                height: 30px;
                            }
                            p{
                                font-weight: 700;
                            }
                        }
                        .footer__item{
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            h1{
                                font-size: 19px ;
                                font-weight: 700;
                                color: #3F93ED;
                            }
                            p{
                                font-size: 16px;
                                font-family: SF Pro Display Regular;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }

    